div.container-footer {
  background-color: var(--secondary-color);
  padding: 1.5rem 5rem;
}

div.container-footer__f {
  max-width: 71.25rem;
  margin: auto;

  display: flex;
  justify-content: space-between;
}

div.main-logo {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

h1.container-footer__title {
    font-family: var(--primary-font);
    color: var(--white);
    font-size: 1.5rem;

}
div.container-footer__news-letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 0.8rem;
}
h1.container-footer__news-letter {
    color: var(--white);
    font-family: var(--primary-font);
    font-size: 1.5rem;
    background-color: var(--primary-color);
}

input[type=email] {
    padding: 0.8rem 2rem;
    outline: none;
    font-family: var(--primary-font);
}

button.news-btn {
    padding: 0.5rem 1rem
}