/* MEDIA QUERIES FOR THE NAVIGATION-BAR*/
@media screen and (max-width: 880px) {
  .nav-container .nav-container__links-container {
    display: none;
  }
}

@media screen and (min-width: 880px) {
  .nav .smaller {
    display: none;
  }
}

@media screen and (max-width: 24) {
  .nav {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

/* MEDIA QUERY FOR SHOW CASE CONTAINER */
@media screen and (max-width: 70.625rem) {
  div.container {
    display: flex;
    flex-direction: column;
  }
}
