.showcase-container {
  padding: 0 5rem;
  font-family: var(--primary-font);
}
/* SHOWCASE CONTAINER */
.showcase-container .container {
  max-width: 80rem;
  margin: auto;
}

/* mainc=>container header*/
